<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4 shadow" style="width: 100%; max-width: 600px;">
      <h1 class="text-center mb-4">Delete Product</h1>
  
      <div *ngIf="product">
        <p><strong>Name:</strong> {{ product.name }}</p>
        <p><strong>Type:</strong> {{ product.type }}</p>
        <p><strong>Price:</strong> {{ product.price }} USD</p>
        <p><strong>Category:</strong> {{ product.category }}</p>
        <p><strong>Stock Quantity:</strong> {{ product.stock }}</p>
        <p><strong>Description:</strong> {{ product.description }}</p>
  
        <button class="btn btn-danger w-100" (click)="onDeleteProduct()">Delete Product</button>
      </div>
      <div *ngIf="!product">
        <p>Product not found.</p>
      </div>
    </div>
  </div>
