
<app-customer-header></app-customer-header>
<div class="container-fluid p-3" style="background-color: #121212;">
<div class="checkout-container bg-dark text-white">
    <h2 class="text-white">Checkout</h2>
    <div class="order-summary">
      <p><strong>Total Amount:</strong> ₹{{ totalAmount | number: '1.0-2' }}</p>
      <p><strong>Order Details:</strong> {{ orderDetails | json }}</p>
    </div>
  
    <div id="paypal-button-container"></div> <!-- PayPal button will be rendered here -->
  </div>
</div>

<div
  id="errorToast"
  class="toast position-fixed top-0 end-0 p-3"
  style="z-index: 1055;"
  role="alert"
  aria-live="assertive"
  aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto">Message</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    {{ toastMessage }}
  </div>
</div>
  