/* Product List Styling */

  
  .card-title {
    font-weight: bold;
  }
  
  
  
  .card-body {
    padding: 20px;
  }
  
  img.card-img-top {
    /* width: 150px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ccc; */
    border-radius: 10px;
  }
  
  button {
    margin-top: 10px;
  }

  .btn{

background-color: #b9aedc;
  }
  .btn:hover{
    background-color: #836ad2;

  }
  .edit{
    background-color: #b9aedc;
  }
  .edit:hover {
    background-color: #836ad2;
    transform: scale(1.05);
  }
  /* Responsive styling */
  @media (max-width: 768px) {
    .card {
      margin-bottom: 20px;
    }
  }