.order-card {
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .img-thumbnail {
    border-radius: 8px;
  }
  
  .pagination button {
    width: 120px;
  }
  
  .btn:hover {
    background-color: #d81b60;
    border-color: #d81b60;
  }