<nav class="navbar navbar-expand-lg" [ngStyle]="{ 'background-color': navbarColor }">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Logo -->
        <a routerLink="/CustomerDashboard/:userName" class="navbar-brand">
            <img src="assets/brandLogo.png" alt="logo image" height="50" width="50">
        </a>

        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side: Navigation Links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown text-center me-3">
                    <a class="nav-link dropdown-toggle" routerLink="/CustomerDashboard/:userName/mensSection"
                        id="mensDropdown" role="button" aria-expanded="false">
                        <b>Mens</b>
                    </a>
                </li>
                <li class="nav-item dropdown text-center me-3">
                    <a class="nav-link dropdown-toggle" routerLink="/CustomerDashboard/:userName/womensSection"
                        id="womensDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                        <div>
                            <b>Womens</b>
                        </div>
                    </a>
                </li>
                <li class="nav-item dropdown text-center">
                    <a class="nav-link dropdown-toggle" routerLink="/CustomerDashboard/:userName/kidsSection"
                        id="kidsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div><b>Kids</b>
                        </div>
                    </a>
                </li>
            </ul>

            <!-- Center: Search Bar -->
            <form class="d-flex mx-auto w-50">
                <div class="input-group">
                    <span class="input-group-text bg-transparent border-end-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                    </span>
                    <input type="text" class="form-control border-start-0" placeholder="Search" aria-label="Search">
                </div>
            </form>
            <!-- Right Side: Profile and Bag -->
            <div class="d-flex  ">
                <a class="nav-link text-center me-3" routerLink="/CustomerDashboard/:userName/bag">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path
                            d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64l0 48-128 0 0-48zm-48 48l-64 0c-26.5 0-48 21.5-48 48L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-208c0-26.5-21.5-48-48-48l-64 0 0-48C336 50.1 285.9 0 224 0S112 50.1 112 112l0 48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z" />
                    </svg>
                    <div>Bag</div>
                </a>
                <a class="nav-link text-center me-3" routerLink="/CustomerDashboard/:userName/profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                        <path
                            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" />
                    </svg>
                    <div>Profile</div>

                </a>

                <a class="nav-link text-center " href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 448 512">
                        <path
                            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z" />
                    </svg>

                    <div><a class="nav-link text-center " *ngIf="!loginService.isLoggedIn()"
                            routerLink="/login">Login</a>
                        <a class="nav-link text-center " *ngIf="loginService.isLoggedIn()" (click)="logout()">Logout</a>
                    </div>
                </a>

            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>