.container {
    max-width: 600px;
    margin: 50px auto;
  }
  
  h1 {
    font-weight: bold;
    text-align: center;
  }
  
  form {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  button {
    border-radius: 5px;
  }