.container {
  margin-top: 50px;
}

h1 {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table-bordered{
    background-color: #d8d2e8;;
}

thead {
  background-color: #343a40;
  color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

button {
  border-radius: 5px;
}

/* Custom Close Button */
.custom-close {
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-left: auto;
}

.custom-close:hover {
  opacity: 1;
  transform: scale(1.2);
}