<div style="position: fixed; margin-left: 450px; margin-top: 50px;" class="container">
    <div class="content">
        <form [formGroup]="loginForm" (ngSubmit)="logIn()">
            <h1>Login Here</h1>
            
            <!-- Username Field -->
            <input 
                type="text" 
                #username 
                placeholder="Enter Username" 
                formControlName="userName" 
                class="form-control">
            <div *ngIf="loginForm.controls['userName'].invalid && loginForm.controls['userName'].touched" class="text-danger">
                Username is required.
            </div>
            <br>
            
            <!-- Password Field -->
            <input 
                type="password" 
                placeholder="Enter Password" 
                formControlName="password" 
                class="form-control">
            <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="text-danger">
                Password must be at least 4 characters long.
            </div>
            <br>

            <!-- CAPTCHA Section -->
            <div class="wrapper">
                <canvas id="canvas" width="200" height="40"></canvas>
                <button id="reload-button" type="button" (click)="generateCaptcha()">
                    <i class="fa fa-sync"></i>
                </button>
                  
            </div>
            <input type="text" placeholder="Enter Captcha" formControlName="captcha" class="form-control">
            <div *ngIf="loginForm.controls['captcha'].invalid && loginForm.controls['captcha'].touched" class="text-danger">
                Please Enter Correct Captcha.
            </div>
            
            <!-- Submit Button -->
            <button [disabled]="loginForm.invalid">Login</button>
            <br><br>
            <label>New Customer? 
                <a style="color: #5420ff; text-decoration:none;" routerLink="/register">Register</a>
            </label>
        </form>
    </div>
</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
