/* Product List Styling */
.outer{
    background-color: #d8d2e8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    color: #555;
  }
  
  .card-body {
    padding: 20px;
  }
  
  img.card-img-top {
    /* width: 150px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ccc; */
    border-radius: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  .edit{
    background-color: #b9aedc;
  }
  .edit:hover {
    background-color: #836ad2;
    transform: scale(1.05);
  }
  /* Responsive styling */
  @media (max-width: 768px) {
    .card {
      margin-bottom: 20px;
    }
  }
  /* Custom Close Button */
.custom-close {
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-left: auto;
}

.custom-close:hover {
  opacity: 1;
  transform: scale(1.2);
}