<div style="position: fixed; margin-left: 480px; margin-top: 10px;" class="container">
    <div class="content">
        <form [formGroup]="registerForm" (ngSubmit)="registerEmployee()">
            <h1>Register Here</h1>
            <input type="text" #username placeholder="Username" formControlName="userName" required>
            <br>
            <input type="text"  placeholder="Employee Name" formControlName="employeeName" required>
            <br>
            <input type="text" placeholder="Salary" formControlName="salary" required>
            <br>
            <input type="text" placeholder="City" formControlName="city" required>
            <br>
            <input type="password" placeholder="Enter Password" formControlName="password" required>
            <br>
            <button>Register</button>
        </form>
        
    </div>
</div>

<div
  id="errorToast"
  class="toast position-fixed top-0 end-0 p-3"
  style="z-index: 1055;"
  role="alert"
  aria-live="assertive"
  aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto">Error</strong>
    <small class="text-muted">just now</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    {{ toastMessage }}
  </div>
</div>

