.link-style {
    color: #007bff; /* Bootstrap primary link color */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Show hand cursor */
  }
  
  .link-style:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #0056b3; /* Darken the color on hover */
  }
  .btn:hover{
     background-color: #836ad2;;
  }
  .btn{
    background-color: #b9aedc;
  }
/* Custom Close Button */
.custom-close {
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-left: auto;
}

.custom-close:hover {
  opacity: 1;
  transform: scale(1.2);
}
