

.navbar a{
    color: #e91e63;
}
.navbar a:hover{
    color: #d81b60;
}

.hero-section {
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-text {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.card {
    border-radius: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}



.btn {
    background-color: #e91e63;
    border-color: #e91e63;
    width: 20%;
}
.btn:hover {
    background-color: #d81b60;
    border-color: #d81b60;
}
.category-section {
    margin: 50px 0;
}
.category-card {
    background-color: #333;
    border: none;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.category-card img {
    max-height: 200px;
    border-radius: 10px;
}
.category-card:hover {
    transform: scale(1.05);
}

.profile-picture img {
    width: 50px; /* Adjust the size as needed */
    height: 50px;
    object-fit: cover;
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid white; /* Optional: Add a border around the picture */
  }
  
  .profile-picture svg {
    width: 50px;
    height: 50px;
  }
  @keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blinkTextCursor {
    from { border-right-color: rgba(255, 255, 255, 0.75); }
    to { border-right-color: transparent; }
  }
  
  .hero-text h1 {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typewriter 4s steps(40, end),
      blinkTextCursor .75s step-end infinite;
  }