/* customer-list.component.css */

.outer {
    background-color: #b9aedc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-weight: bold;
  }
  
  .card-text {
    color: #555;
  }
  
  .card-body {
    padding: 20px;
  }

  .button {
    background-color: #b9aedc;
  }
  .button:hover {
    background-color: #836ad2;
    transform: scale(1.05);
  }

  button {
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .card {
      margin-bottom: 20px;
    }
  }