/* Optional Custom Styling for Full-Width Form */
.card {
    background-color: #d8d2e8; /* Card background color */
    border-radius: 15px;
}

h1 {
    font-size: 2.5rem;
    color: #000;
}

textarea {
    height: 150px;
    resize: none;
}

.btn {
    background-color: #b9aedc;
  }
  .btn:hover {
    background-color: #836ad2;
    transform: scale(1.05);
  }
  .image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dim background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050; /* Higher than other content */
  }
  
  /* Custom Close Button */
.custom-close {
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-left: auto;
}

.custom-close:hover {
  opacity: 1;
  transform: scale(1.2);
}
  /* .image-card {
    width: 150px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  