.card-button a {
    font-size: 1.2rem; /* Increase font size of button text */
    padding: 15px 30px; /* Add some padding */
    font-weight: bold; /* Make text bold */
    text-decoration: none; /* Remove underline from the link */
  }
  
  .card-button a i {
    font-size: 2rem; /* Increase icon size */
    margin-right: 10px; /* Add spacing between icon and text */
  }
  
  .card-button a:hover {
    transform: translateY(-5px); /* Slight pop-out effect on hover */
    transition: transform 0.3s ease;
  }
  
 
.card-button a i {
    font-size: 2rem; /* Increase icon size */
    margin-right: 10px; /* Add spacing between icon and text */
    vertical-align: middle;
    }
    
    .btn {
      background-color: #b9aedc;
    }
    .btn:hover {
      background-color: #836ad2;
      transform: scale(1.05);
    }

    .upload-csv-section {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .upload-csv-section h2 {
      font-size: 1.5rem;
      margin-bottom: 15px;
    }
    
    .upload-csv-section form .form-control {
      margin-bottom: 10px;
    }
    
  /* Custom Close Button */
.custom-close {
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-left: auto;
}

.custom-close:hover {
  opacity: 1;
  transform: scale(1.2);
}