/* customer-dashboard.component.css */
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.welcome-message {
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.card-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-button button {
  width: 200px; /* Larger size */
  height: 100px;
  font-size: 1.2em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card-button button i {
  font-size: 1.5em;
}

.card {
    background-color: #d8d2e8;
    border-radius: 15px;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #000;
}

.btn {
    background-color: #b9aedc;
    color: #fff;
}

.btn:hover {
    background-color: #836ad2;
    transform: scale(1.05);
}

.link-style {
  color: #007bff; /* Bootstrap primary link color */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Show hand cursor */
}

.link-style:hover {
  text-decoration: underline; /* Add underline on hover */
  color: #0056b3; /* Darken the color on hover */
}

/* Custom Close Button */
.custom-close {
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-left: auto;
}

.custom-close:hover {
  opacity: 1;
  transform: scale(1.2);
}