<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Logo -->
        <a routerLink="/EmployeeDashboard" class="navbar-brand">
            <img src="assets/logo3.png" alt="logo image" height="70" width="150">
        </a>

        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdminContent"
            aria-controls="navbarAdminContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarAdminContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                <!-- Orders -->
                <li class="nav-item text-center">
                    <a class="nav-link text-white" routerLink="/EmployeeDashboard/ViewOrdersHistory"><b>Orders
                            History</b></a>
                </li>
            </ul>


            <!-- Right Side: Profile and Bag -->
            <div class="nav-section right-controls ms-auto">
                <a class="nav-link" *ngIf="!loginService.isLoggedIn()" routerLink="/login">
                    <div class="right-nav-item">
                        <b>login</b>
                    </div>
                </a>
                <a class="nav-link" *ngIf="loginService.isLoggedIn()" (click)="logout()">
                    <div class="right-nav-item">
                        <b>logout</b>
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>